<div class="navbar">
  <a href="/">

<h1>Contact App</h1>
  </a>
<div class="links">

<a href="/">Home</a>
<a href="/api/addContact">ADD Contact</li></a>
<a href="/api/allContacts">All Contacts</a>
</div>


</div>