

  <nav class="navbar">
    <a href="home" class="brand">Contact App</a>
    <input type="checkbox" id="toggle" />
    <label for="toggle" class="hamburger">&#9776;</label>
    <ul class="nav-links">
      <li><a href="home">Home</a></li>
      <li><a href="allcontacts">View Contact</a></li>
      <li><a href="addcontacts">Add Contact</a></li>
    </ul>
  </nav>


