<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/Style/style.css" />
  </head>
  <body>
    <h1>Welcome to my <%=title%> page</h1>
    <p>This is my home page. I am <%=title%>.</p>
    <span>
      Rajendra kumar I am a software engineer. I am working on Node.js,
      Express.js, and MongoDB. I am also learning React.js and Next.js. I am a
      full-stack developer. I am also learning TypeScript. I am a quick learner
      and a hard worker. I am a team player and a good communicator. I am always
      ready to learn new technologies and improve my skills. I am looking for a
      job as a full-stack developer.
    </span>
    <a href="./About.ejs">About</a>
  </body>
</html>
