
  <div class="hero">

  <h1>View Contact</h1>
  <div id="each">
    {{#each payload}}
    <ul>
      <li>Frist name :{{this.fname}}</li>
      <li>Last name :{{this.lname}}</li>
      <li>Phone No :{{this.phoneno}}</li>
      <li>Save Loction:{{this.loc}}</li>
    </ul>  
    {{/each}} 
  </div>
  </div>
  
